services:
  authenticator:
    build:
      context: ..
      dockerfile: Dockerfile
    volumes:
      - ..:/authenticator:cached
    ports:
      - "8000:8000"
      - "5678:5678"  # debugger
    env_file:
      - ../.env
    depends_on:
      - redis

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      retries: 5